<li class="date-poll-item">
  <input type="checkbox" id="this_date_time">
  <label for="this_date_time">
    <span class="date">
      <span class="day">
        Monday
      </span>
      <span class="month">
        July
      </span>
      <span class="date">
        21
      </span>
    </span>
    <span class="time">
      <span class="start-time">
        10:30
        <span class="period">
          AM
        </span>
      </span>
      <span class="to">
        to
      </span>
      <span class="start-time">
        12:30
        <span class="period">
          PM
        </span>
      </span>
    </span>
  </label>
</li>