<li class="date-poll-item">
  <input type="checkbox" [attr.id]="'this_date_time' + index">
  <label [attr.for]="'this_date_time' + index">

    <span class="date">
      <span class="day">
        {{startDayOfWeek}}
      </span>
      <span class="calendar-date">
        {{startDayOfMonth}}
      </span>
      <span class="month">
        {{startMonth}}
      </span>
    </span>

    <span class="time">
      <span class="start-time">
        {{startTime}}
        <span class="period">
          {{startAmPm}}
        </span>
      </span>
      <span class="to">
        to
      </span>
      <span class="start-time">
        {{endTime}}
        <span class="period">
          {{endAmPm}}
        </span>
      </span>
    </span>

    <span class="current-results">
      3 others chose this
    </span>
  </label>
</li>