<li class="date-poll-item">
  <input type="checkbox" id="this_date_time">
  <label for="this_date_time">
    <span class="date">
      <span class="day">
        {{startDayOfWeek}}
      </span>
      <span class="month">
        {{startMonth}}
      </span>
      <span class="date">
        {{startDayOfMonth}}
      </span>
    </span>
    <span class="time">
      <span class="start-time">
        {{startTime}}
        <span class="period">
          {{startAmPm}}
        </span>
      </span>
      <span class="to">
        to
      </span>
      <span class="start-time">
        {{endTime}}
        <span class="period">
          {{endAmPm}}
        </span>
      </span>
    </span>
  </label>
</li>