// Brand

$color-brand:           #000;

$color-gold:            #E0D462;

$color-sand:	        #F6F1CC;

$color-blue:            #296EDE;
$color-light-blue:      lighten($color-blue,20);
$color-blue-highlight:  #00CAE1;
$color-blue-dark:       darken($color-blue,10);


$color-caribbean:       #0C8790;
$color-red:             #E03F58;
$color-copper:          #C69C6D;

$color-gold:            #E3CE50;

$color-green:           #00B677;
$color-green-light:     lighten($color-green,20);
$color-green-dark:      darken($color-green,10);



// Utility
$color-charcoal:		#222;
$color-gray:			#777;
$color-gray-light:	    #cecece;
$color-smoke:			#f3f3f3;

// Type

$color-display-text:    $color-charcoal;
$color-body-text:       $color-charcoal;