<li class="contribution-poll-item">
  <input type="checkbox" id="this_contribution_item">
  <label for="this_contribution_item">
    <span class="contribution-item-name">
      3 Bean Salad
    </span>
    <span class="contributor">
      <img alt="" class="avatar" src="/assets/images/avatars/david-hansen.png"/>
      <span class="first-name">David</span>
      <span class="hidden last-name">Hansen</span>
      <span class="hidden">is bringing this.</span>
    </span>
  </label>
</li>


<h2 class="h-bravo">
  Request Contributions
</h2>
<ul class="contribution-request-list">
  
  <li class="contribution-request-item">
    <label for="contribution-item-id-1">Item Number <span class="item-number">1</span></label>
    <input id="contribution-item-id-1" type="text"/>
    <button type="button">Delete</button>
  </li>

  <li class="contribution-request-item">
    <label for="contribution-item-id-2">Item Number <span class="item-number">2</span></label>
    <input id="contribution-item-id-1" type="text"/>
    <button type="button">Delete</button>
  </li>

  
  <li class="contribution-request-item">
    <button id="add-contribution-request-item" type="button">Add Another</button>
  </li>
</ul>
  
