<div class="container">
  <div class="get-started">
    <a [routerLink]="'/create-event'">Create an Event</a>
  </div>
</div>
<div class="container event-gallery">
  <div class="event-card">
    <h2 class="event-title">
      My fantastic event
    </h2>
    <h3>Responses</h3>
    <ul>
      <li>
        Dave is bringing 3 bean salad
      </li>
      <li>
        Dave is bringing 3 bean salad
      </li>
      <li>
        Dave is bringing 3 bean salad
      </li>
      <li>
        Dave is bringing 3 bean salad
      </li>
    </ul>
  </div>

  <div class="event-card">
    <h2 class="event-title">
      My fantastic event
    </h2>
    <h3>Responses</h3>
    <ul>
      <li>
        Dave is bringing 3 bean salad
      </li>
      <li>
        Dave is bringing 3 bean salad
      </li>
      <li>
        Dave is bringing 3 bean salad
      </li>
      <li>
        Dave is bringing 3 bean salad
      </li>
    </ul>
  </div>

  <div class="event-card">
    <h2 class="event-title">
      My fantastic event
    </h2>
    <h3>Responses</h3>
    <ul>
      <li>
        Dave is bringing 3 bean salad
      </li>
      <li>
        Dave is bringing 3 bean salad
      </li>
      <li>
        Dave is bringing 3 bean salad
      </li>
      <li>
        Dave is bringing 3 bean salad
      </li>
    </ul>
  </div>
</div>