
<div class="container get-started">
  <div class="get-started">
    <a class="button green create-event" [routerLink]="'/create-event'">Create an Event</a>
  </div>
</div>
<div class="container">
  <h2 class="h-bravo">
    Event Dashboard
  </h2>
</div>

<div class="container event-gallery">
  <div class="event-card" *ngFor="let event of events">
    <a [routerLink]="'/edit-event/'">
      <h3 class="event-title">
        {{event.title}}
      </h3>
      <h4>Responses</h4>
      <ul>
        <li>
          Dave is bringing 3 bean salad
        </li>
        <li>
          Dave is bringing 3 bean salad
        </li>
        <li>
          Dave is bringing 3 bean salad
        </li>
        <li>
          Dave is bringing 3 bean salad
        </li>
      </ul>
    </a>
  </div>
  
<!-- 
  <div class="event-card">
    <a href="/edit-event/">
      <h3 class="event-title">
        My fantastic event
      </h3>
      <h4>Responses</h4>
      <ul>
        <li>
          Dave is bringing 3 bean salad
        </li>
        <li>
          Dave is bringing 3 bean salad
        </li>
        <li>
          Dave is bringing 3 bean salad
        </li>
        <li>
          Dave is bringing 3 bean salad
        </li>
      </ul>
    </a>
  </div> -->

  <!-- <div class="event-card">
    <a href="/edit-event/">
      <h3 class="event-title">
        My fantastic event
      </h3>
      <h4>Responses</h4>
      <ul>
        <li>
          Dave is bringing 3 bean salad
        </li>
        <li>
          Dave prefers Aug 21
        </li>
        <li>
          Lauren is bringing chips
        </li>
        <li>
          Charlie is bringing salsa
        </li>
      </ul>
    </a>
  </div>
</div> -->