<div class="container edit-event" [formGroup]="createEventForm">
  <h1 class="h-alpha center-text">
    Create your event
  </h1>

  <ul class="event-editor-list">
    <li class="event-editor-item">
      <label for="event-title">
        Event title
      </label>
      <input id="event-title" type="text" formControlName="title" />
    </li>

    <li class="event-editor-item">
      <label for="event-description">
        Event description
      </label>
      <input id="event-description" type="text" formControlName="description" />
    </li>

    <li class="event-editor-item">
      <label for="event-location">
        Event location
      </label>
      <input id="event-location" type="text" formControlName="location" />
    </li>


    <li class="event-editor-item">
      <label for="event-start-date">
        Start date &amp; time
      </label>
      <input id="event-start-date" type="text" formControlName="startTime" />
    </li>

    <li class="event-editor-item">
      <label for="event-end-date">
        End date &amp; time
      </label>
      <input id="event-end-date" type="text" formControlName="endTime" />
    </li>
    <li class="event-editor-item">
        <button class="button green add-date-poll" id="add-date-poll" type="button">
          Add a date poll
        </button>
    </li>

    <li class="event-editor-item">

      <ul class="create-date-poll-list">
        <li class="event-editor-item">
          <label for="event-start-date">
            Start date &amp; time
          </label>
          <input id="event-start-date" type="text" />
        </li>

        <li class="event-editor-item">
          <label for="event-end-date">
            End date &amp; time
          </label>
          <input id="event-end-date" type="text" />
        </li>
        <li class="event-editor-item">
            <button class="button gray add-date-poll" id="add-date-poll" type="button">
              Add another date option
            </button>
            <button class="delete float-right" id="add-date-poll" type="button">
              <span class="text-container">
                <span class="hidden">
                    Delete
                </span>
              </span>
            </button>
        </li>
      </ul>
    </li>

    <li class="event-editor-item">
        <button class="button green add-date-poll" id="add-date-poll" type="button">
          Add guests
        </button>
    </li>

    <li class="event-editor-item">

      <ul class="create-date-poll-list">
        <li class="event-editor-item">
          <label for="guest-1">
            Name
          </label>
          <input id="guest-1" type="text" />
        </li>

        <li class="event-editor-item">
          <label for="guest-1-phone">
            Phone
          </label>
          <input id="guest-1-phone" type="text" />
        </li>
        <li class="event-editor-item">
            <button class="button gray add-date-poll" id="add-date-poll" type="button">
              Add another guest
            </button>
            <button class="delete float-right" id="add-date-poll" type="button">
              <span class="text-container">
                <span class="hidden">
                    Delete
                </span>
              </span>
            </button>
        </li>
      </ul>
    </li>


    
    <li class="event-editor-item">
      <button class="button green" (click)="submit()">Submit</button>
    </li>

  </ul>
</div>