<div class="container edit-event" [formGroup]="createEventForm">
  <h1 class="h-alpha center-text">
    Create your event
  </h1>

  <ul class="event-editor-list">
    <li class="event-editor-item">
      <label for="event-title">
        Event title
      </label>
      <input id="event-title" type="text" formControlName="title" />
    </li>

    <li class="event-editor-item">
      <label for="event-description">
        Event description
      </label>
      <input id="event-description" type="text" formControlName="description" />
    </li>

    <li class="event-editor-item">
      <label for="event-location">
        Event location
      </label>
      <input id="event-location" type="text" formControlName="location" />
    </li>


    <li class="event-editor-item">
      <label for="event-start-date">
        Start date &amp; time
      </label>
      <input id="event-start-date" type="text" formControlName="startTime" />
    </li>

    <li class="event-editor-item">
      <label for="event-end-date">
        End date &amp; time
      </label>
      <input id="event-end-date" type="text" formControlName="endTime" />
    </li>

    <li class="event-editor-item">
      <button class="add add-date-poll" id="add-date-poll" type="button">Add a date poll</button>

      <ul class="create-date-poll-list">
        <li class="event-editor-item">
          <label for="event-start-date">
            Start date &amp; time
          </label>
          <input id="event-start-date" type="text" />
        </li>

        <li class="event-editor-item">
          <label for="event-end-date">
            End date &amp; tdme
          </label>
          <input id="event-end-date" type="text" />
        </li>
      </ul>

    </li>

    <li class="event-editor-item">
      <legend class="columns">
        <h2 class="h-bravo">Event visibility</h2>
        <div class="columns">
          <input type="radio" name="visibility" id="public" value="public" formControlName="visibility">
          <label for="public">Public</label>
          <input type="radio" name="visibility" id="private" value="private" formControlName="visibility">
          <label for="private">Private</label>
        </div>
      </legend>
    </li>

    <li class="event-editor-item">
      <legend>
        <h2 class="h-bravo">Guest options</h2>
        <p>Are you open to your guests bringing a friend?</p>
        <div class="columns">
          <input type="radio" name="guestOptions" id="open" value="open" formControlName="guestOptions">
          <label for="open">Open</label>
          <input type="radio" name="guestOptions" id="closed" value="closed" formControlName="guestOptions">
          <label for="closed">Closed</label>
        </div>
      </legend>
    </li>


    <li class="event-editor-item">
      <legend>
        <h2 class="h-bravo">Dress code</h2>
        <div class="columns">
            <input type="radio" name="dressCode" id="whatever" value="whatever" formControlName="dressCode">
            <label for="whatever">Whatever</label>
    
            <input type="radio" name="dressCode" id="dressy-casual" value="dressy-casual" formControlName="dressCode">
            <label for="dressy-casual">Dressy casual</label>
    
            <input type="radio" name="dressCode" id="business" value="business" formControlName="dressCode">
            <label for="business">Business</label>
    
            <input type="radio" name="dressCode" id="formal" value="formal" formControlName="dressCode">
            <label for="formal">Formal</label>
        </div>
        
      </legend>
    </li>

    <li class="event-editor-item">
      <button class="button green">Submit</button>
    </li>

  </ul>
</div>