<!--The content below is only a placeholder and can be replaced.-->
<mat-toolbar color="primary">
  <mat-toolbar-row>
    <a class="navbarLink" [routerLink]="'/home'"><span>Test</span></a>
    <span class="spacer"></span>
    <a class="navbarLink" [routerLink]="'/events'"><span *ngIf="user">Events</span></a>
    <button mat-button *ngIf="!user" (click)="login()">Login</button>
    <button mat-button *ngIf="user" (click)="logout()">Logout</button>
  </mat-toolbar-row>
</mat-toolbar>
<div style="text-align:center">
  <router-outlet></router-outlet>
</div>