<header>
  <nav>
    <div class="container">
      <ul class="primary-nav-list">
          <li class="primary-nav-item home">
            <a href="/">
              Home
            </a>
          </li>
          <li class="primary-nav-item events">
              <a href="/events/">
              My Events
            </a>
          </li>
          <li class="primary-nav-item sign-in">
            <button type="button">
              Sign In
            </button>
          </li>
        </ul>
    </div>
  </nav>
</header>
<div style="text-align:center">
  <router-outlet></router-outlet>
</div>