<div *ngIf="user">
  <p>
    {{user.displayName}}
  </p>
  <p>
    {{user.email}}
  </p>
  <p>
    {{user.uid}}
  </p>
</div>


<div class="container intro">
  <h1 class="intro-title">
    Your dinner party. <br/>
    Done.
  </h1>
  <p class="subhead">
    Organize your guests, dates and what they're bringing.
  </p>
  <button type="button" class="green button">
    Get Started &raquo;
  </button>

</div>
<div class="section-bravo container">
    <ul class="feature-list">
        <li class="feature-item">
          Text invites to your guests
        </li>
        <li class="feature-item">
          Poll their available dates
        </li>
        <li class="feature-item">
          Organize what they bring
        </li>
      </ul>
      <div class="mobile-view">
          <img alt="mobile preview" class="" src="/assets/images/heroes/mobile-view.png"/>
      </div>      
      <div class="desktop-view">
          <img alt="desktop preview" class="" src="/assets/images/heroes/desktop-view.png"/>
      </div>
  
</div>
<div class="section-charlie container">
    <ul class="standard-three-things">
        <li class="standard-item">
          Send text notifications to the group
        </li>
        <li class="standard-item">
          Get notifications when guests vote
        </li>
        <li class="standard-item">
          Have your party at the best time
        </li>
      </ul>
</div>
<div class="letter">
  <p>
    <strong>Welcome friends!</strong>
  </p>
  <p>
    Few things are more memborable than a night spent with friends and amazing food with a story behind it.
  </p>
  <p>
    As much as we love entertaining, we were looking for a way to smooth the roughest parts of a dinner party: choosing a date when friends are available, and organizing the food.
  </p>
  <p>
      We hope this tool we've built makes your dinners operate more smoothly.
  </p>
  <p>
    Charlie, Charlie, Charlie and Teddy
    <img alt="hand signature" src="/assets/images/heroes/signature.jpg" />
  </p>
</div>