

.contribution-poll-list {
    display: block;
    max-width: $break-small;

    margin: 0px auto;
    @include clearfix;
}

.contribution-poll-item {
    display: block;
    @include clearfix;
    position: relative;

    .contributor {
        text-align: right;
    }

    input[type=checkbox] + label {
        &:hover,
        &:focus {
            .last-name {
                position: relative !important;
            }
        }
    }
}