header {
    background-color: #fff;  
    position: relative;
    z-index: 3;
    @include clearfix;
    margin-bottom: 2rem;
  
    nav {
      display: block;
      padding-bottom: 1rem;
      margin: 0px auto;

  
      .primary-nav-list {
        display: table;
        position: relative;
        padding: 0;
        margin: 0px auto;
        width: calc(100%);
        display: flex;
        flex-direction: row;
  
        .primary-nav-item {
          display: table-cell;
          list-style: none;
          text-align: center;
          position: relative;
          flex-grow: 1;
  
          &.home {
            flex-grow: 10;
            text-align: left;
          }
          a,
          button {
            display: block;
            border: none;
            background: none;
            padding: 1rem 0rem .35rem 0rem;
            text-decoration: none;
            text-shadow: 0 1px 0 #fff;
            color: darken($color-gray,4);
            font-size: .9rem;
            overflow: hidden;
            position: relative;
            z-index: 1;
            @include break(420px) {
              font-size: 1.25rem;
              text-transform: uppercase;
              @include bold;
              letter-spacing: 0px;
              font-variation-settings: 'wght' 800, 'wdth' 100;
            }
  
            @include break($break-small) {
              font-size: 1.5rem;
            }
            }
          
        }
      }
    }
  }
  