.poll-group {
    @include clearfix;
    @include break($break-small) {
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-column-gap: 2rem;
    }
}

.event-info {
    .event-header {
        position: sticky;
        top: 0;
        .event-title {
            color: $color-charcoal;
            font-size: 1.5rem;
            margin-bottom: 2rem;
            @include break($break-mid) {
                font-size: 2rem;
              }
        }
        .event-description {
            border-bottom: 1px solid $color-gray-light;
            margin-bottom: 1rem;

        }
    }
    .host {
        @include bold;
    }
}
