.poll-group {
    @include clearfix;
    margin: 0px auto;
    margin-bottom: 2rem;
    max-width: $break-small;
    @include break($break-large) {
        display: grid;
        grid-template-columns: 1fr;
        grid-column-gap: 2rem;
    }
}

.event-info {
    margin-top: 1rem;
    .event-header {

        position: sticky;
        top: rem;
        .event-title {
            color: $color-charcoal;
            font-size: 1.5rem;
            margin-bottom: 2rem;
            @include break($break-mid) {
                font-size: 2rem;
              }
        }
        .event-description {
            border-bottom: 1px solid $color-gray-light;
            margin-bottom: 1rem;
        }
       
    }
    .host {
        @include bold;
    }
}
